server:
  port: 8090
spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: 'sa'
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

loans:
  message: "Welcome to EazyBank loans related local API's"
  contactDetails:
    name: "Abhishek"
    email: "abhi@gmail.com"
  onCallSupport:
    - 85115
    - 90900
